
.header {
  background-image: url('../../public/images/footerBackGroundImage.webp'); 
  background-position: start;
  background-size: contain; 
  align-items: center;
}
  

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  

 .nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
  font-size: 0.7rem;
  
 }


.image {
  display: block;
  width: 100%;
  max-width: 100px;
}

.navItem {
  text-align: start;
  display: flex;
  justify-content: center;
  
}

.signIn {
  display: flex;
  flex-direction: row;
}

.navLink {
  text-decoration: none;
  font-weight: bold; 
  color: var(--third-color);
  padding:  var(--global-sm-spacing);  
}

.navLink:hover {
  color: var(--quarter-color);
}

.mobileNavMenu {
  display: none;
}

.menuToggleIcon {
  display: none; 
  cursor: pointer;
}

@media (max-width: 768px) {
 .nav {
    display: none; /* Скрываем стандартное меню */
    flex-direction: column;
  }
  .mobileNavMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menuToggleIcon {
    display: block; /* Показываем иконку меню */
  }
}