/* home.module.css */

.homeContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: white;
}

.containerStorySection {
  width: 50%;
  box-shadow: 2px 1px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  /* border: 3px solid red; */
}

.containerStorySection {
  box-shadow: 2px 1px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: white;
}

