.layotTopSep {
  position: relative;
  height: 100px;
  left: 0;
  overflow: hidden;
  right: 0;
  z-index: 1;
}

.svg5{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100.2%;
  height: 100%;
  display: block;
  fill: #8b80bb;
}
.svg {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 100.2%;
  height: 100%;
  fill: white;
}
.svg2 {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: block;
  fill: white;
}

.svg3 {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg) ;
  width: 100%;
  height: 100%;
  display: block;
  fill: white
}
.svg4 {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) ;
  width: 100%;
  height: 100%;
  display: block;
  fill: white;
}

@media (max-width: 768px) { 
  .layotTopSep {
  position: relative;
  height: 50px;
  }
}