.containerAbout {
  width: 100%;
  margin: 0;
  background-image: url("../../public/images/PHOTO-2024-03-19-22-01-41.jpg");
  background-position: start;
  background-size: cover;
}

.container {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flexContainer {
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-top: var(--global-xl-spacing);
}

.verticalWrap {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: var(--global-xm-spacing);
  align-items: center;
}

.imageShake {
  display: block;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.h2Title {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.pDescription {
  text-align: justify;
  padding: var(--global-xs-spacing);
}

/* @keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */

/* .verticalWrap {
  opacity: 0; 
  animation: slideUp 1s ease forwards; 
  animation-delay: 0.5s;
}


.verticalWrap:nth-child(1) {
  animation-delay: 0.5s;
}

.verticalWrap:nth-child(2) {
  animation-delay: 1s;
}

.verticalWrap:nth-child(3) {
  animation-delay: 1.5s;
} */

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.imageShake:hover {
  animation: shake 4s ease-in-out;
}

@media (max-width: 768px) {
  /* .container {
    padding: var(--global-xs-spacing);
  } */
  .flexContainer {
    width: 90%;
    margin: 0 auto;
    padding-top: var(--global-xs-spacing);
  }

  .verticalWrap {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
  }

  .imageShake {
    max-width: 50%;
  }

  .pDescription {
    padding: 0;
  }

  .h2Title {
    margin-bottom: 0;
  }
}
