.containerRegPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../../public/images/regBackGraund.jpg");
  background-position: center;
  background-size: contain;
  margin: 0;
}

.textRegPage {
  text-align: center;
}

.regPageContainer {
  padding: var(--global-xl-spacing); 
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) { 
  .regPageContainer {
    padding: var(--global-xs-spacing); 
    margin-top: -40px;
  }
}

